div,
table {
  font-family: 'Montserrat', sans-serif !important;
}

.card-box {
  display: flex;
  flex-direction: row;
  width: 367px;
  height: 100px;
  opacity: 1;
  position: relative;
  z-index: 50;
  box-shadow: 0px 2px 4px #00000029;
}

.restaurant-data {
  position: relative;
  left: 25px;
  line-height: 1;
}


.restaurant-name {
  width: 200px;
  height: 19px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #404040;
  opacity: 1;
  position: relative;
  display: block;
}

.restaurant-address {
  width: 180px;
  height: 15px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #404040;
  opacity: 1;
  left: 0;
  position: relative;
}

.img {
  width: 100px;
  height: 100px;
  max-width: 120px;
  max-height: 100px;
}

.circle-open {
  height: 48px;
  width: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  background: #2B0D61 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  opacity: 1;
  position: relative;
  z-index: 90;
  left: 35px;
  top: -45px;
}

.circle-closed {
  height: 48px;
  width: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  background: #B5ABD4 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  opacity: 1;
  position: relative;
  z-index: 90;
  left: 35px;
  top: -45px;
}

.text-circle-open {
  color: white;
  text-align: center;
  position: relative;
  top: 10px;
  font-size: 8px;
  width: 80%;
  z-index: 100;
  margin: 0 auto;
}

.text-circle-closed {
  color: white;
  text-align: center;
  position: relative;
  top: 18px;
  font-size: 8px;
  width: 80%;
  z-index: 100;
  margin: 0 auto;
}

.restaurant-card {
	text-align: left;
	margin-left: 0;
}