<table class="food-card">
  <tr>
    <td class="food-photo">
      <img class="food-photo" [src]="product.photo" alt="">
    </td>
    <td>
      <table class="m-auto w-85">
        <tr>
          <td class="fs-16">{{ product.name }}</td>
        </tr>
        <tr>
          <td class="fs-12">{{ product.description }}</td>
        </tr>
        <tr>
          <td class="color-goomer fs-16">
            <ng-container *ngIf="product.promotionalPrice < product.price">
              <span>
                {{ product.promotionalPrice | currency: 'BRL' }}
              </span>
              <span class="text-secondary strikethrough fs-12">
                {{ product.price | currency: 'BRL' }}
              </span>
            </ng-container>
            <span *ngIf="product.promotionalPrice > product.price">
              {{ product.price | currency: 'BRL' }}
            </span>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
