<div class="center">
  <div class="titulo">Bem-vindo ao Lista Rango</div>
</div>
<div class="mt-32">
  <div class="input-group mb-3 w-50 m-auto">
    <input type="text" class="form-control" placeholder="Buscar estabelecimento" aria-label="Buscar estabelecimento"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-default" type="button"><img src="assets/img/search.svg" alt=""></button>
    </div>
  </div>
</div>
<div class="container w-100 m-auto">
  <div class="row m-auto">
    <div *ngIf="isLoading" class="mt-3 text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ng-container *ngIf="!isLoading">
      <div class="mt-4">
        <ng-container *ngFor="let restaurant of restaurants; let index = index">
          <app-restaurant-card class="col-md-4" [restaurant]="restaurant"></app-restaurant-card>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
