.retangulo-5 {
  width: 100vw;
  height: 62px;
  background: #009CA3 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #00000029;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.logo {
  position: relative;
  z-index: 1;
  height: 62px;
}

.logo:hover {
  cursor: pointer;
}
